#logo {
    margin-top: 2px;
    width: 90px;

}

#logo2 {
    margin: none;
    width: 100px;

}

#contactlog1 {
    display: inline;
    font-size: 40px;
    color: rgb(50, 50, 50);

}

#line {
    color: black;
}

#logo3 {
    width: 200px;
    margin: 5px;
}

#contactlog2 {
    display: inline;
    font-size: 40px;
    color: #ed563b
}